.Brand {
  display: flex;
  align-items: center;
  height: 100%;

  &_logo {
    height: 100%;
    object-fit: contain;
  }

  &_name {
    font-size: var(--font-size-brand);

    padding-left: 1rem;
    font-weight: 700;

    margin-top: 0;
  }
}
