@import 'sassAbstracts';

.Hero {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &_content {
    order: 2;
  }

  &_heading {
    color: #303d4e;
    font-size: 3.6rem;
    margin-bottom: 2rem;
  }

  &_subheading {
    color: #303d4e;
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }

  &_text {
    font-size: 2rem;
    color: #303d4e;
    line-height: 1.625;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &_imgWrapper {
    order: 1;
    margin-bottom: 4rem;
  }

  @include media-up(sm) {
    flex-direction: row;
    justify-content: center;

    &_content {
      order: initial;
      flex-basis: 50%;
      margin-right: 2rem;
    }

    &_imgWrapper {
      order: initial;
      flex-basis: 50%;
      margin-left: 2rem;
      margin-bottom: 0;
      align-self: center;
    }

    &_text {
      font-size: 2.2rem;
    }
  }
}
