@import 'sassAbstracts';

.Hero {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &_content {
    order: 2;
  }

  &_heading {
    margin-bottom: 2rem;
    font-size: var(--font-size-h2);
  }

  &_text {
    line-height: 1.625;
    font-size: var(--font-size-base);

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &_imgWrapper {
    order: 1;
    margin-bottom: 4rem;
  }

  @include media-up(sm) {
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &_content {
      order: initial;
      flex-basis: 50%;
      margin-right: 2rem;
    }

    &_imgWrapper {
      order: initial;
      flex-basis: 50%;
      margin-left: 2rem;
      margin-bottom: 0;
    }
  }
}
