$font-mul-sm: 1.1;
$font-size-h1: 3.6rem;
$font-size-h2: 3rem;
$font-size-h3: 2.4rem;
$font-size-base: 1.8rem;
$font-size-button: 1.3rem;
$font-size-brand: 2rem;
$font-size-navbar: 2rem;

$font-family: 'Raleway', sans-serif;

$fonts: (
  'font-mul-sm': $font-mul-sm,
  'font-size-h1': $font-size-h1,
  'font-size-h2': $font-size-h2,
  'font-size-h3': $font-size-h3,
  'font-size-base': $font-size-base,
  'font-size-button': $font-size-button,
  'font-size-brand': $font-size-brand,
  'font-size-navbar': $font-size-navbar,
  'font-family': $font-family,
);
