@import './spacings';

$font-size-multiplier-base: 1;
$font-size-multiplier-sm: 1.1;

$font-size-h1: 3.6rem;
$font-size-h2: 3rem;
$font-size-h3: 2.4rem;
$font-size-base: 1.8rem;
$font-size-button: 1.3rem;
$font-size-brand: 2rem;
$font-size-navbar: 2rem;

$font-family: 'Raleway', sans-serif;

$letter-spacing-base: 1px;
$line-height-h2: 1.2;
$line-height-h3: 1.2;
$line-height-base: 1.9;
$list-padding: 4rem;
$space-h1: $space-sm;
$space-h2: $space-md;
$space-h3: $space-md;

// Exports

$typography: (
  'typography-rest': (
    'font-family': $font-family,
    'letter-spacing-base': $letter-spacing-base,
    'line-height-h2': $line-height-h2,
    'line-height-h3': $line-height-h3,
    'line-height-base': $line-height-base,
    'list-padding': $list-padding,
    'space-h1': $space-h1,
    'space-h2': $space-h2,
    'space-h3': $space-h3,
  ),
  'font-sizes-info': (
    'font-sizes': (
      h1: $font-size-h1,
      h2: $font-size-h2,
      h3: $font-size-h3,
      base: $font-size-base,
      button: $font-size-button,
      brand: $font-size-brand,
      navbar: $font-size-navbar,
    ),
    'font-size-multipliers': (
      base: $font-size-multiplier-base,
      sm: $font-size-multiplier-sm,
    ),
  ),
);
