@mixin media-up($breakpoint: xsm) {
  $minWidth: 57.6rem;

  @if ($breakpoint == sm) {
    $minWidth: 76.8rem;
  } @else if ($breakpoint == md) {
    $minWidth: 99.2rem;
  }

  $normalisedWidth: $minWidth / 1.6; // because apparently html font-size is ignored in media queries

  @media screen and (min-width: $normalisedWidth) {
    @content;
  }
}

@mixin font-size-declarations($tag) {
  $original-font-size: var(--font-size-base);

  @if ($tag == h1) {
    $original-font-size: var(--font-size-h1);
  } @else if ($tag == h2) {
    $original-font-size: var(--font-size-h2);
  } @else if ($tag == h3) {
    $original-font-size: var(--font-size-h3);
  }

  font-size: #{$original-font-size};

  @include media-up(sm) {
    font-size: calc(#{$original-font-size} * var(--font-mul-sm));
  }
}
