@import 'sassAbstracts';

p,
time,
span,
ul,
ol,
li,
button {
  @include font-size-declarations(base);
  letter-spacing: var(--letter-spacing-base);
  line-height: var(--line-height-base);
}

p,
time,
span,
ul,
pre,
ol {
  + *:not(ul):not(ol) {
    margin-top: var(--space-7);
  }
}
