p,
time,
span,
ul,
ol,
li,
button {
  font-size: var(--font-size-base);
  letter-spacing: var(--letter-spacing-base);
  line-height: var(--line-height-base);
}

p,
time,
span,
pre {
  margin-top: var(--space-7);

  &:first-child {
    margin-top: 0;
  }
}
