@import 'sassAbstracts';

p,
time,
span,
ul,
ol,
li {
  @include font-size-declarations(base);
  letter-spacing: 1px;
  line-height: 1.9;
}

p,
time,
span,
ul,
pre,
ol {
  + *:not(ul):not(ol) {
    margin-top: 2.5rem;
  }
}
