h1,
h2,
h3 {
  font-weight: 400;
}

h1 {
  text-align: center;
}

@for $i from 1 through 3 {
  h#{$i} {
    font-size: var(--font-size-h#{$i});

    margin-top: var(--space-h#{$i});

    + * {
      margin-top: var(--space-h#{$i});
    }

    &:first-child {
      margin-top: 0;
    }
  }
}
