@import 'sassAbstracts';

h1,
h2,
h3 {
  font-weight: 400;
}

h1 {
  @include font-size-declarations(h1);
  text-align: center;

  + * {
    margin-top: 0.7rem;
  }
}

h2 {
  @include font-size-declarations(h2);
  line-height: 1.2;

  + * {
    margin-top: 0.9rem;
  }
}

h3 {
  @include font-size-declarations(h3);
  line-height: 1.2;

  + * {
    margin-top: 0.9rem;
  }
}
