pre {
  font-size: var(--font-size-base);
  overflow: scroll;
  max-width: 100%;
}

code {
  font-size: var(--font-size-base);
  font-family: monospace;
  line-height: var(--line-height-base);
  overflow-wrap: break-word;
}
