@import 'sassAbstracts';

pre {
  @include font-size-declarations(base);
  overflow: scroll;
  max-width: 100%;
}

code {
  @include font-size-declarations(base);
  font-family: monospace;
  line-height: var(--line-height-base);
  overflow-wrap: break-word;
}
