@import './variables/breakpoints';

@mixin media-up($breakpoint: xsm) {
  $minWidth: $breakpoint-xsm;
  @if ($breakpoint == sm) {
    $minWidth: $breakpoint-sm;
  } @else if ($breakpoint == md) {
    $minWidth: $breakpoint-md;
  }

  $normalizedWidth: $minWidth / 1.6; // to calibrate for html font-size

  @media screen and (min-width: $normalizedWidth) {
    @content;
  }
}

@mixin sass-variables-to-css-custom-properties($variablesNameValueMap) {
  @each $name, $value in $variablesNameValueMap {
    --#{$name}: #{$value};
  }
}
