:root {
  --breakpoint-xsm: 57.6rem;
  --breakpoint-sm: 76.8rem;
  --breakpoint-md: 99.2rem;

  --container-max-width: 96rem;
  --text-container-max-width: 96rem;

  --color-primary: #303d4d;

  --font-mul-sm: 1.1;
  --font-size-h1: 3.6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2.4rem;
  --font-size-base: 1.8rem;
}
