.BrandIcons {
  margin-top: var(--space-sm);
  font-size: var(--font-size-base);

  &_iconContainer {
    width: 5rem;
    height: 5rem;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &_icon {
    color: var(--color-primary);
    transition: color 0.2s;

    &:hover {
      color: inherit;
    }
  }
}
